/* Importando fonte Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: #e3e3e3;
  font-family: 'Fira Code';
}

.container {
  margin: auto;
  margin-top: 50px;
  width: 500px;
}

main {
  margin-top: 30px;
  text-align: center;
}

h2 {margin-top: 20px;}

.link-item {
  color: #e3e3e3;
  font-size: 50px;
  margin: 10px auto;
  transition: all .3s;
  width: 200px;
}
.link-item:hover {
  color: aqua;
}